.navbar
  .navbar-inner
    // Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. 
    a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.brand(href='#{path}index.html') 
      img(src="#{path}public/img/inweso-reduced.png")
    // Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. 
    .nav-collapse.collapse
      ul.nav.pull-right
        li.contact
          a(href='#{path}pages/aboutus.html#contact') Kontakt
      ul.nav
        li.home
          a.home(href='#{path}index.html') Startseite
        li.aboutus
          a(href='#{path}pages/aboutus.html') Über uns
        // Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns 
        li.dropdown.more
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Mehr ...
            b.caret
          ul.dropdown-menu
            li
              a(href='#{path}pages/solutions.html') inweso als Partner
            li.divider
            li.nav-header Eigene Lösungen
            li
              a(href='#{path}pages/lebdo.html') lebdo.ch